.content {
  height: calc(100vh - 90px);
  display: flex;
}

.left_column {
  flex-basis: 300px;
  min-width: 300px;
}

.center_column {
  flex-basis: 100%;
}

.right_column {
  flex-basis: 300px;
  min-width: 300px;
}
